 body {
      margin: 0;
      font-family: Arial, sans-serif;
    }
   
    .vertical-nav {
      width: 100px;
      background: black;
      color: white;
      position: fixed;
      top: 0;
      left: 0;
      height: 45%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 20px;
    }
    .vertical-nav a {
      text-decoration: none;
      color: white;
      display: block;
      text-align: center;
      padding: 20px 0;
    }
    .vertical-nav i {
      display: block;
      font-size: 20px;
      margin-bottom: 5px;
    }

  
    .horizontal-nav {
      margin-top: 210px;
      text-align: center;
    }
    .horizontal-nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      background: black;
    }
    .horizontal-nav li {
      padding: 15px 150px;
    }
    .horizontal-nav a {
      color: white;
      text-decoration: none;
    }

    .meeting-nav {
      margin-top: 10px;
    }
    .meeting-nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-around;
      background: black;
      color: white;
    }
    .meeting-nav li {
      padding: 15px;
      text-align: center;
    }
    .meeting-nav i {
      display: block;
      font-size: 20px;
      margin-bottom: 5px;
    }

  
    .bottom-nav {
      margin-top: 10px;
    }
    .bottom-nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-around;
      background: black;
      color: white;
    }
    .bottom-nav li {
      padding: 15px;
      text-align: center;
    }
    .bottom-nav i {
      font-size: 18px;
    }

    h2 {
      margin-left: 120px;
      margin-top: 50px;
      text-align: center;
    }